
/outputs/
/old/
/data/
/old_from_30/
*.log
/inferences/
/benchmarks/
/plots/
/figures/
/not_used/
/saved_results/
/simulate_data/
/tmp/
/archived/
/data_processed/

__*

/genesnake/
/ground-truth-grns/
/getting_networks/


.aider*

/DeepSEM/
/GENIE3/

data.tar.gz_to_eris_for_deepsem_on_gpu




