
/outputs/
/saved_results/
/tmp/
/saved_data/
/outputs__in_pipeline/

__*
*egg-info*
*log

/genesnake/
/ground-truth-grns/

.aider*

/DeepSEM/
/GENIE3/
/inspre/

/archived/not_for_git/

src/grn_code/pipeline_configuration.py
run_simulated.sh

